<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/fonts.css">
    <link rel="stylesheet" href="./static/media.css">
    <title>Landing Page</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>PETs</h1>
            <h1>Care</h1>
        </div>

        <ul>
            <a href="#"><li>Início</li></a>
            <a href="#"><li>Serviços</li></a>
            <a href="#"><li>Sobre</li></a>
            <a href="#"><li>Contato</li></a>
            <a href="#" id="inscreva-se-btn"><li>Já tem uma conta?</li></a>
        </ul>
    </header>

    <main>
        <aside>
            <h2><span>Inscreva-se agora</span></h2>
            <h2>Na PETs</h2>

            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI</p>

            <form>
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="E-mail">
                <input type="submit" value="Enviar">
            </form>
        </aside>

        <article>
            <img src="" alt="">
        </article>
    </main>
</body>
</html>